.container-item {
  height: 5rem;
  width: 25rem;
  margin: 2px;
  background-color: rgb(57, 0, 20);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 5px;
  color: rgb(255, 153, 0);
}
.container-item-drag-handle {
  right: 10%;
  height: 50%;
  width: 2rem;
  color: rgb(186, 113, 77);
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: center;
}
